div {
    width: 60%;
}
header {
    background-color: #493657;
    width: 100%;
    height: 20%;
}

nav {
    width: 100vw;
    display: flex;
}

ul {
    width: 15%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

        li{
            text-decoration: none;
            list-style: none;

        }
}

main {
    background-color: #D8E1FF;
    width: 100%;
    height: 60%;
}

#container {
    display: flex;
    margin-top: 5rem;
    width: 25%;
    height: 60%;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;
}

#horreur, #fantastique, #Romance, #ado {
    border: 2px solid blue;
    width: 100%;
    display: flex;
}

img {
    height: 60%;
}